body {
    background: linear-gradient(to top, #397584, #802525); 
    background-attachment: fixed; 
    font-family: 'Lato', sans-serif;
}
/* Page-intro */
.firstPage {
  touch-action: none;
}
.firstPage-padding {
  padding-top:35vh;
}
.downArrowCenter {
  text-align: center;
  margin-top: 50px;
}/* End Page-intro */

/* About-me Effect */
.effect {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
.height-about-me {
    max-height: 150px;
  }/* End About-me Effect*/

  /* Project-zoom-in */
  .zoom-effect:hover {
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
    z-index: 1;
  } /* End Project-zoom-in */

hr {
    color: #36395d;
    border: 1px solid #394030;
  }
  
.padding-width {
    padding: 0;
    width: 30px;
  }
.phone-number {
    text-align: end;
  }


  /* Tablet Screen */
  @media (min-width: 768px) and (max-width: 991px) { 
    .medium-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .medium-grid-height {
      height:425px;
    }
  }
  